body {
  font-family: Arial, sans-serif;
  background-color: #31313f;
  color: #fff;
  margin: 0;
  padding: 0;
}

.nav-bar {
  position: fixed;
  background-color: #31313f;
  width: 100rem;
  height: 60px;
  margin: -1rem;
  opacity: 90%;
  z-index: 5;
  box-shadow: 0 0 10px #1C1C23;
}

.nav-list {
  display: flex;
  float: left;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.nav-listitem {
  list-style: none;
  position: relative;
  padding: 1rem 1rem;
  cursor: pointer;
  margin-right: auto;
  /*pseudo elements*/
}
.nav-listitem::after {
  content: "";
  width: 0;
  height: 0.03rem;
  border-radius: 0.2rem;
  position: absolute;
  left: 1rem;
  bottom: 0.8rem;
  background-color: white;
  transition: width 200ms ease-in-out;
}

.nav-listitem:hover::after, .nav-listitem:focus::after {
  width: 80%;
}

.nav-listitem:hover ul, .nav-listitem:focus ul {
  opacity: 1;
  visibility: visible;
}

.nav-listitemdrop {
  position: absolute;
  top: 2.7rem;
  left: 1rem;
  box-shadow: 0 0 10px #1C1C23;
  background-color: #383845;
  width: 10rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
}

.nav-listitemdrop li {
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  transition: #31313f 200ms ease-in-out;
}

.nav-listitemdrop li:hover, .nav-listitemdrop li:focus {
  background-color: #31313D;
}

.flashcard-form {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.flashcard-form input[type="text"] {
  background-color: #31313f;
  box-shadow: 0 0 10px #1C1C23;
  color: white;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.flashcard-form button {
  background-color: #31313f;
  box-shadow: 0 0 10px #1C1C23;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.flashcard-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard {
  background-color: #31313f;
  box-shadow: 0 0 10px #1C1C23;
  color: white;
  border-radius: 10px;
  padding: 20px;
  min-width: 300px;
  min-height: 150px;
  word-wrap: break-word;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.navigation button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #31313f;
  box-shadow: 0 0 10px #1C1C23;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
}

/* Positioning the flashcard between navigation buttons */
.navigation button:first-child {
  margin-right: 20px;
}

.navigation button:last-child {
  margin-left: 20px;
}

/* Hide the flashcards initially */
.flashcard {
  display: none;
}

/* Style for the currently active flashcard */
.flashcard.active {
  display: block;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: inherit;
}