#app {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1200px; /* Or the max width you prefer */
    padding: 10px;
}

textarea {
    width: 45%;
    height: 300px; /* Or the height you prefer */
    margin-right: 10px;
    padding: 10px;
    font-size: 1em; /* Adjust font size as needed */
    border: 1px solid #ddd;
    outline: none;
}

#noteDisplay {
    width: 45%;
    height: 300px; /* To match the textarea height */
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f3f3f3;
    overflow-y: auto; /* Adds a scrollbar if content is too long */
    font-size: 1em; /* Adjust font size as needed */
    white-space: pre-wrap; /* Keeps the line breaks and spacing */
}

