#app {
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 100%; /* Or the max width you prefer */
  padding: 0.5rem 1rem;
}

textarea {
  width: 48%;
  min-height: 78vh;
  padding: 10px;
  margin-top: 2.5rem;
  font-size: 1em; /* Adjust font size as needed */
  box-shadow: 0 0 10px #1C1C23;
  outline: none;
  border: none;
  z-index: 0;
  background-color: #31313f;
  color: white;
  border-radius: 1rem;
  resize: none; /* Disable textarea resizing */
}

#noteDisplay {
  width: 48%;
  min-height: 78vh;
  padding: 10px;
  margin-top: 2.5rem;
  z-index: 0;
  box-shadow: 0 0 10px #1C1C23;
  background-color: #31313f;
  overflow-y: auto; /* Adds a scrollbar if content is too long */
  font-size: 1em; /* Adjust font size as needed */
  white-space: pre-wrap; /* Keeps the line breaks and spacing */
  border-radius: 1rem;
}

/* color variables*/
/* border radius*/
* *::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: inherit;
}

body {
  /*find in google fonts later*/
  font-family: Arial, Helvetica, sans-serif;
  background-color: #31313f;
  color: #ffffff;
}

.nav {
  position: fixed;
  background-color: #31313f;
  width: 100rem;
  height: 60px;
  margin: -2rem;
  opacity: 90%;
  z-index: 5;
  box-shadow: 0 0 10px #1C1C23;
}
.nav-list {
  display: flex;
  float: left;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}
.nav-listlogo {
  list-style: none;
  margin-right: auto;
  cursor: pointer;
  /* svg{

      width: 2.5rem;
      transition: fill 250ms ease-in;
      &:hover, &:focus{
          fix the hover states for logo lol aka fill
          fill: white;
      }


  }*/
}
.nav-listitem {
  list-style: none;
  position: relative;
  padding: 1rem 1rem;
  cursor: pointer;
  margin-right: auto;
  /*pseudo elements*/
}
.nav-listitem::after {
  content: "";
  width: 0;
  height: 0.03rem;
  border-radius: 0.2rem;
  position: absolute;
  left: 1rem;
  bottom: 0.8rem;
  background-color: white;
  transition: width 200ms ease-in-out;
}
.nav-listitem:hover::after, .nav-listitem:focus::after {
  width: 80%;
}
.nav-listitem:hover ul, .nav-listitem:focus ul {
  opacity: 1;
  visibility: visible;
}
.nav-listitemdrop {
  position: absolute;
  top: 2.7rem;
  left: 1rem;
  box-shadow: 0 0 10px #1C1C23;
  background-color: #383845;
  width: 10rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
}
.nav-listitemdrop li {
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  transition: #31313f 200ms ease-in-out;
}
.nav-listitemdrop li:hover, .nav-listitemdrop li:focus {
  background-color: #31313D;
}

.sidebar {
  position: fixed;
  z-index: 3;
  border-radius: 1rem;
  background: #3f3f4e;
  width: 260px;
  height: 78%;
  margin-top: 2.5rem;
  left: 5px;
  margin-bottom: 40px;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
}

.sidebar .logo i {
  font-size: 30px;
  color: #ffffff;
  padding: 0.35rem 0 0 0.35rem;
}

.sidebar .logo .logo_name {
  font-size: 22px;
  color: #ffffff;
  font-weight: 600;
}/*# sourceMappingURL=styles.css.map */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: #66668a;
  width: 350px;
  height: 100px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-body {
  padding: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  z-index: 4;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal-button {
  justify-content: center;
  
}