#app {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0.5rem 1rem;
}

// area on left of screen where text is typed
textarea {
    width: 48%;
    min-height: 80vh;
    padding: 10px;
    margin-top: 2.5rem;
    font-size: 1em;
    box-shadow: 0 0 10px #1C1C23;
    outline: none;
    border: none;
    z-index: 0;
    background-color: #31313f;
    color: white;
    border-radius: 1rem;
    resize: none;
}

// area on right of screen where formatted text is displayed
#note-display {
    width: 48%;
    min-height: 80vh;
    padding: 10px;
    margin-top: 2.5rem;
    z-index: 0;
    box-shadow: 0 0 10px #1C1C23;
    background-color: #31313f;
    overflow-y: auto;
    font-size: 1em;
    white-space: pre-wrap;
    border-radius: 1rem;
}

/* border radius*/
$radius: 0.2rem;

* *::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// general button styling
button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #31313f;
    color: #ffffff;
}

// top nav bar styling
.nav {
    position: fixed;
    background-color: #31313f;
    width: 110vw;
    height: 60px;
    margin: -2rem 0 -2rem -2rem;
    z-index: 5;
    box-shadow: 0 0 10px #1C1C23;

    &-list {
        display: flex;
        float: left;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        padding: 0 1rem;

        &logo {
            list-style: none;
            margin-right: auto;
            cursor: pointer;
        }

        &item {
            list-style: none;
            position: relative;
            padding: 1rem 1rem;
            cursor: pointer;
            margin-right: auto;

            /*pseudo elements*/
            &::after {
                content: "";
                width: 0;
                height: 0.03rem;
                border-radius: $radius;
                position: absolute;
                left: 1rem;
                bottom: 0.8rem;
                background-color: white;
                transition: width 200ms ease-in-out;
            }

            &:hover::after,
            &:focus::after {
                width: 80%;
            }

            &:hover ul,
            &:focus ul {
                opacity: 1;
                visibility: visible;
            }

            &drop {
                position: absolute;
                top: 2.7rem;
                left: 1rem;
                box-shadow: 0 0 10px #1C1C23;
                background-color: #383845;
                width: 10rem;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                opacity: 0;
                visibility: hidden;
                transition: opacity 200ms ease-in-out;

                li {
                    text-align: left;
                    list-style: none;
                    padding: 0.5rem 1rem;
                    border-radius: $radius;
                    transition: #31313f 200ms ease-in-out;

                    &:hover,
                    &:focus {
                        background-color: #31313D;
                    }
                }
            }
        }
    }
}

// hidden side bar css
.sidebar {
    position: fixed;
    z-index: 3;
    border-radius: 1rem;
    background: #3f3f4e;
    width: 260px;
    height: 78vh;
    margin-top: 3rem;
    margin-bottom: 40px;
    overflow-y: auto;
    overflow-x: auto;
    transition: 0.5s;
    transform: translateX(-100%);
    display: flex;
    align-items: flex-start;
    box-shadow: 0 0 10px #1C1C23;

    &-list {
        // padding-top: 0.75rem;
        padding-left: 1rem;
        flex: 1;

        &-note {
            position: relative;
            margin-top: 3vh;

            hr.a {
                width: 80%;
                margin-top: 0rem;
                margin-left: 2rem;
                border: 1px solid;
                opacity: 50%;
            }

            hr.b {
                width: 70%;
                margin-top: 0rem;
                margin-left: 3rem;
                border: 1px solid;
                opacity: 50%;
            }

            margin-bottom: 30vh;

            &-chap {
                svg {
                    padding: 0 0.2rem 0 1rem;
                    fill: white;
                }

                i {
                    transform: rotate(-90deg);
                }
            }
        }

        li {
            list-style: none;
        }

        svg {
            padding: 0 0.2rem 0 1rem;
            fill: white;
        }

        &-quick {
            position: relative;
        }
    }
}

.sidebar .logo i {
    font-size: 30px;
    color: #ffffff;
    padding: 0.35rem 0 0 0.35rem;

}

.sidebar .logo .logo_name {
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
}

// bottom toolbar that contains bold, italic and underline buttons
.bottom-toolbar {
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    background: #3f3f4e;
    color: white;
    height: 3vm;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 15vm;
    position: absolute;
    left: 50%;
    bottom: 3vm;
    border-radius: 0.5rem;
    transform: translateX(-50%);
    box-shadow: 0 0 10px #1C1C23;
}

.toolbar-item {
    &-i {

        border-radius: 0.5rem;
        padding: 0.25rem 11px;
        margin: 0 0.25rem 0 0;
    }

    &-b {

        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem;
        margin: 0 0.25rem 0 0;
    }

    &-u {

        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem;
    }
}

.flashcardForm {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.flashcardForm input[type="text"] {
    background-color: #31313f;
    box-shadow: 0 0 10px #1C1C23;
    color: white;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.flashcardForm button {
    background-color: #31313f;
    box-shadow: 0 0 10px #1C1C23;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.flashcard-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    padding: 10px;
}

.flashcard {
    background-color: #31313f;
    box-shadow: 0 0 10px #1C1C23;
    color: white;
    border-radius: 10px;
    padding: 20px;
    min-width: 300px;
    min-height: 150px;
    word-wrap: break-word;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.navigation button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #31313f;
    box-shadow: 0 0 10px #1C1C23;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
}

/* Positioning the flashcard between navigation buttons */
.navigation button:first-child {
    margin-right: 20px;
}

.navigation button:last-child {
    margin-left: 20px;
}

/* Hide the flashcards initially */
.flashcard {
    display: none;
}

/* Style for the currently active flashcard */
.flashcard.active {
    display: block;
}

// css for the js function to switch to light mode
.light-mode {
    .nav {
        position: fixed;
        background-color: white;
        width: 110vw;
        height: 60px;
        margin: -2rem 0 -2rem -2rem;
        z-index: 5;
        box-shadow: 0 0 10px lightgray;

        &-list {
            display: flex;
            float: left;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            padding: 0 1rem;

            &logo {
                list-style: none;
                margin-right: auto;
                cursor: pointer;
            }

            &item {
                list-style: none;
                position: relative;
                padding: 1rem 1rem;
                cursor: pointer;
                margin-right: auto;

                /*pseudo elements*/
                &::after {
                    content: "";
                    width: 0;
                    height: 0.03rem;
                    border-radius: $radius;
                    position: absolute;
                    left: 1rem;
                    bottom: 0.8rem;
                    background-color: black;
                    transition: width 200ms ease-in-out;
                }

                &:hover::after,
                &:focus::after {
                    width: 80%;
                }

                &:hover ul,
                &:focus ul {
                    opacity: 1;
                    visibility: visible;
                }

                &drop {
                    position: absolute;
                    top: 2.7rem;
                    left: 1rem;
                    box-shadow: 0 0 10px lightgrey;
                    background-color: white;
                    width: 10rem;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 200ms ease-in-out;

                    li {
                        list-style: none;
                        padding: 0.5rem 1rem;
                        border-radius: $radius;
                        transition: lightgray 200ms ease-in-out;

                        &:hover,
                        &:focus {
                            background-color: lightgray;
                        }
                    }
                }
            }
        }
    }

    textarea {
        width: 48%;
        min-height: 80vh;
        padding: 10px;
        margin-top: 2.5rem;
        font-size: 1em;
        box-shadow: 0 0 10px lightgray;
        outline: none;
        border: none;
        z-index: 0;
        background-color: white;
        color: black;
        border-radius: 1rem;
        resize: none;

    }

    #note-display {
        width: 48%;
        min-height: 80vh;
        padding: 10px;
        margin-top: 2.5rem;
        z-index: 0;
        box-shadow: 0 0 10px lightgray;
        background-color: white;
        color: black;
        overflow-y: auto;
        font-size: 1em;
        white-space: pre-wrap;
        border-radius: 1rem;
    }

    .sidebar {
        position: fixed;
        z-index: 3;
        border-radius: 1rem;
        background: white;
        width: 260px;
        height: 78vh;
        margin-top: 3rem;
        margin-bottom: 40px;
        overflow-y: auto;
        overflow-x: auto;
        transition: 0.5s;
        transform: translateX(-100%);
        display: flex;
        align-items: flex-start;
        box-shadow: 0 0 10px lightgrey;

        &-list {
            padding-left: 1rem;
            flex: 1;

            &-note {
                position: relative;
                margin-top: 3vh;

                hr.a {
                    width: 80%;
                    margin-top: 0rem;
                    margin-left: 2rem;
                    border: 1px solid;
                    opacity: 50%;
                }

                hr.b {
                    width: 70%;
                    margin-top: 0rem;
                    margin-left: 3rem;
                    border: 1px solid;
                    opacity: 50%;
                }

                margin-bottom: 30vh;

                &-chap {
                    i {
                        transform: rotate(-90deg);
                    }
                }
            }

            li {
                list-style: none;
            }

            svg {
                padding: 0 0.2rem 0 1rem;
                fill: black;
            }

            &-quick {
                position: relative;
            }
        }
    }

    .flashcardForm {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .flashcardForm input[type="text"] {
        background-color: white;
        box-shadow: 0 0 10px lightgray;
        color: black;
        margin-right: 10px;
        padding: 10px;
        border: none;
        border-radius: 5px;
    }

    .flashcardForm button {
        background-color: white;
        box-shadow: 0 0 10px lightgray;
        color: black;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .flashcard-container {
        color: black;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        word-wrap: break-word;
        padding: 10px;
    }

    .flashcard {
        background-color: white;
        box-shadow: 0 0 10px lightgrey;
        color: black;
        border-radius: 10px;
        padding: 20px;
        min-width: 300px;
        min-height: 150px;
        word-wrap: break-word;
        margin: 10px;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }

    .navigation button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 0 10px lightgray;
        color: black;
        cursor: pointer;
        font-size: 1.5em;
    }

    /* Positioning the flashcard between navigation buttons */
    .navigation button:first-child {
        margin-right: 20px;
    }

    .navigation button:last-child {
        margin-left: 20px;
    }

    /* Hide the flashcards initially */
    .flashcard {
        display: none;
    }

    /* Style for the currently active flashcard */
    .flashcard.active {
        display: block;
    }

    #addCard {
        background-color: white;
        box-shadow: 0 0 10px lightgray;
        color: black;
    }

    .bottom-toolbar {
        display: flex;
        align-self: center;
        justify-content: space-between;
        align-items: center;
        background: white;
        color: black;
        height: 3vm;
        padding: 0.5rem 1rem 0.5rem 1rem;
        width: 15vm;
        position: absolute;
        left: 50%;
        bottom: 3vm;
        border-radius: 0.5rem;
        transform: translateX(-50%);
        box-shadow: 0 0 10px lightgray;
    }

    .toolbar-item {
        &-i {
            border-radius: 0.5rem;
            padding: 0.25rem 11px;
            margin: 0 0.25rem 0 0;
        }

        &-b {
            border-radius: 0.5rem;
            padding: 0.25rem 0.5rem;
            margin: 0 0.25rem 0 0;
        }

        &-u {
            border-radius: 0.5rem;
            padding: 0.25rem 0.5rem;
        }
    }
}

.sidebar .logo i {
    font-size: 30px;
    color: #ffffff;
    padding: 0.35rem 0 0 0.35rem;

}

.sidebar .logo .logo_name {
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
}


a {
    color: white;
    text-decoration: none;
}